/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.header {
  height : 50px;
}

div {
  .constrainWidth01 {
    max-width : 1000px;
  }
}

#container{
  margin-left: auto;
  margin-right: auto;
  background: white;
  max-width: 1280px;
}
